# === Core ===
streamlit

# === Web Framework (Backend varsa) ===
fastapi
uvicorn

# === AI & LangChain ===
langchain == 0.3.27
langchain-community
langchain-openai
langchain-core
openai
chromadb

# === Utilities ===
python-dotenv
tiktoken
pydantic
requests
beautifulsoup4
loguru
APScheduler